<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titulo</title>
     <!--JQUERY-->
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "> </script>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->
    <link rel=" stylesheet " href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "> </script>
    <!-- Los iconos tipo Solid de Fontawesome -->
    <link  rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.0.8/css/solid.css ">
    <script  src ="https://use.fontawesome.com/releases/v5.0.7/js/all.js "> </script>
 


    <link rel="stylesheet" type="text/css" href="static\css\DatosEncuestador.css?1.0" media="all">
</head>
<body>
    <!--Aqui creamos todo el contenerdor del formulario-->
    <section class="form-reg"> 
        <!--Un Pequeño titulo-->
        <h1>Datos del Encuestador</h1>
        <!--Aqui comienzan los imputs, y lo que necesita de cada input-->
        <section>
            <p>Nombre:</p>
            <input  class="controls" type="text" name="Nombre de Encuestador" id="NombreEncuestador:" placeholder="Ingresar Nombre Completo">
        </section>
        <section>
            <p>Empresa:</p>
            <input class="controls" type="text" name="Empresa:" id="Empresa" placeholder="Empresa">
        </section>
        <section>
            <p>Direccion:</p>
            <input class="controls" type="text" name="Direccion" id="Direccion" placeholder="DireccionEmpresa">
        </section>
        <section>
            <p>Colonia:</p>
            <input class="controls" type="text" name="Colonia" id="Colonia" placeholder="Colonia">
        </section>
        <section>
            <p>Ciudad:</p>
            <input class="controls" type="text" name="Ciudad" id="Ciudad" placeholder="Ciudad">
        </section>
        <section>
            <p>Estado:</p>
            <input class="controls" type="text" name="Estado:" id="Estado" placeholder="Estado">
        </section>
        <section>
            <p>Fax:</p>
            <input class="controls" type="text" name="Fax" id="Fax" placeholder="Fax">
        </section>
        <section>
            <p>RFC:</p>
            <input class="controls" type="text" name="RFC" id="rfc" placeholder="RFC">
        </section>
        <section  class="buttons" >
            <button class="btn btn-primary" id="Guardar" type="button" >Guardar</button>
            <button class="btn btn-secundary" id="Limpiar" type="button" ">Limpiar</button>
        </section>
    </section>
</body>
</html>