<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--JQUERY-->
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "> </script>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->
    <link rel=" stylesheet " href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "> </script>
    <!-- Los iconos tipo Solid de Fontawesome -->
    <link  rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.0.8/css/solid.css ">
    <script  src ="https://use.fontawesome.com/releases/v5.0.7/js/all.js "> </script>
    <!--Nuestro CSS-->
    <link rel="stylesheet" href="/static/css/login.css">

</head>

<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="static\images\Avatar.png" width="100" height="100" >
                </div>
                <form class= "col-12">
                    <div class="form-group" id="user-group">
                        <input type="text" id="username" class="control-formulario" placeholder="Nombre de Usuario">
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" id="password" class="control-formulario" placeholder="Contraseña">
                    </div>
                    <button  id="ingresar" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                    <button  class="btn btn-secundary">Crear Usuario</button>
                </form>
                <div class="col-12 forgot">
                    <a href="#">Recordar Contraseña</a>

                </div>

            </div>
        </div>
    </div>
    <script src="static\js\login.js"></script>
</body>

</html>